<div class="wayfinder-nav-bar" style="@(CustomStyle)">
    @foreach (var option in this.Categories)
    {
        <div class="@((this.CurrentCategory == option) ? "wayfinder-container-active" : "wayfinder-container")">
            <span class="@((this.CurrentCategory == option) ? "wayfinder-category-active" : "wayfinder-category")" @onclick="@(() => this.Select(option))">@option</span>
        </div>
    }
</div>

@code {
    [Parameter] public List<string> Categories { get; set; }
    [Parameter] public string CustomStyle { get; set; }
    [Parameter] public string StartingCategory { get; set; }

    [Parameter] public Action<string> UpdateCurrentCategory { get; set; }

    public string CurrentCategory { get; set; } = "Scenes";

    protected override void OnInitialized()
    {
        this.CurrentCategory = this.StartingCategory;

        base.OnInitialized();
    }

    public async Task Select(string category)
    {
        this.CurrentCategory = category;

        await Task.Run(() => this.UpdateCurrentCategory.Invoke(category));
    }
}
