@if(this.CurrentOption == this.Id)
{
    if (this.loaded)
    {
        <div class="search">
            <div class="wayfinder-buttons">
                @if (this.CanShowClearAll)
                {
                    <button class="clear-all-button" @onclick="@(() => DisplayClearAllModal())" @onclick:stopPropagation @onclick:preventDefault>Clear All</button>
                }
                <button class="@(this.CurrentView == "Selected" ? "wayfinder-outlined-button" : "wayfinder-search-button")" @onclick="@(() => ToggleView())">@(this.CurrentView == "Available" ? "Filters" : "Options")</button>
            </div>


            <div class="search-bar" style="margin: 10px 0px 30px 0px; margin-left: -45px;">
                <span class="wayfinder-search-icon material-icons">search</span>
                <input value="@this.displaySearch" id="@($"{this.Id}-search")" name="@($"{this.Id}-search")" class="custom-input"
                    oninput="@((ChangeEventArgs e) => this.Search(e?.Value?.ToString() ?? string.Empty))" placeholder="@this.Placeholder" disabled="@(this.CurrentView != "Available")">
            </div>

            @if (this.CurrentView == "Available")
            {
            <div class="search-results">
                @if (this.Available.Count > 0)
                {
                    <div class="row" style="padding-left: 15px;">
                        @for (int i = 0; i < this.Available.Count; ++i)
                        {
                            var tempResult = this.Available[i];
                            <div class="col-md-5">
                                <SearchOption Id="@this.Id" Color="@this.Color" Value="@tempResult" IsSelected="false" SelectValue="@(() => Select(tempResult))" />
                            </div>

                            if (i % 2 != 0)
                            {
                                <div class="col-md-2"></div>
                            }
                        }
                    </div>
                }
                else if (!string.IsNullOrEmpty(this.search))
                {
                    <em>Nothing found with this search.</em>
                }
            </div>
            }
            else if (this.CurrentView == "Selected")
            {
                    <div class="search-results">
                    @if (this.Selected != null && this.Selected.Count > 0)
                    {
                        <div class="row" style="padding-left: 15px;">
                            @for (int i = 0; i < this.Selected.Count; ++i)
                            {
                                var tempResult = this.Selected[i];
                                <div class="col-md-5">
                                    <SearchOption Id="@this.Id" Color="@this.Color" Value="@tempResult" IsSelected="true" SelectValue="@(() => Remove(tempResult))" />
                                </div>

                                if (i % 2 != 0)
                                {
                                    <div class="col-md-2"></div>
                                }
                            }
                        </div>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div class="row" style="justify-content: center; padding: 20px;">
            <div class="loader col-md-12"></div>
        </div>
    }
}

<style>
    .search-result {
        background-color: transparent;
        color: #2e2e2e;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 30px;
        margin: 5px 7px;
        display: inline-block;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }
        .search-result:hover {
            background-color: #9fd5ff !important;
        }


    .remove{
        background-color: #7ecdff;
    }
        .remove:hover {
            background-color: #ce5858 !important;
        }


    .loader {
        border: 16px solid #ffffff; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @@keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
@code {
    [Parameter] public string Id { get; set; } = string.Empty;
    [Parameter] public string Placeholder { get; set; } = "Search for values...";
    [Parameter] public string Color { get; set; } = "#ffffff";
    [Parameter] public bool CanSearch { get; set; } = true;

    [Parameter] public List<string> Initial { get; set; } = new List<string>();
    [Parameter] public List<string> Available { get; set; } = new List<string>();
    [Parameter] public List<string> Selected { get; set; } = new List<string>();

    [Parameter] public string CurrentOption { get; set; } = string.Empty;
    [Parameter] public bool CanShowClearAll { get; set; }

    [Parameter] public Func<Task>? UpdateSearch { get; set; }
    [Parameter] public Func<string, Task>? ClearAllMethod { get; set; }
    //[Parameter] public Func<Task> SearchCallback { get; set; }
    //[Parameter] public Func<Task> SelectCallback { get; set; }
    //[Parameter] public Func<Task> RemoveCallback { get; set; }

    [CascadingParameter] public IModalService Modal { get; set; } = default!;


    private string search = "";
    private string displaySearch = "";
    private bool loaded = true;

    //public List<string> available;
    //public List<string> selected;
    public string CurrentView = "Available";

    private Dictionary<string, string> Colors = new Dictionary<string, string> {
        { "", "" }
    };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (this.CurrentOption == this.Id && this.loaded)
        {
            this.loaded = false;

            await InvokeAsync(() =>
            {
                this.StateHasChanged();
            });
        }

        await base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (this.CurrentOption == this.Id && !this.loaded)
        {
            var oldLoaded = this.loaded;
            this.loaded = true;

            if (oldLoaded != this.loaded)
            {
                this.displaySearch = this.search;

                await InvokeAsync(() =>
                {
                    this.StateHasChanged();
                });
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public async Task SetCurrentView(string view)
    {
        this.CurrentView = view;

        await InvokeAsync(() =>
        {
            this.StateHasChanged();
        });
    }

    private void Search(string search)
    {
        this.search = search;
        this.Available = new List<string>();

        if (string.IsNullOrEmpty(search))
        {
            this.Available = this.Initial;
            return;
        }

        foreach (var selection in this.Initial)
        {
            if (this.Selected.Contains(selection)) continue;

            if (selection.ToLower().Contains(search.ToLower()))
            {
                this.Available.Add(selection);
            }
        }

        //this.Available.Sort();
    }

    private async Task Select(string value)
    {
        if (!this.CanSearch)
            return;

        this.Selected.Add(value);

        if (!string.IsNullOrEmpty(search))
        {
            this.Search(this.search);
        }
        else
        {
            this.Available.Remove(value);
        }

        this.search = string.Empty;

        if (this.UpdateSearch != null)
        {
            await Task.Run(async () => await this.UpdateSearch.Invoke());
        }

        if (this.Available.Count == 0)
            this.CurrentView = "Selected";

        await InvokeAsync(() =>
        {
            this.StateHasChanged();
        });
    }

    private async Task Remove(string value)
    {
        if (!this.CanSearch)
            return;

        this.Selected.Remove(value);

        if (!string.IsNullOrEmpty(search))
        {
            this.Search(this.search);
        }
        else
        {
            this.Available.Add(value);
            this.Available.Sort();
        }

        this.search = string.Empty;

        if (this.UpdateSearch != null)
        {
            await Task.Run(async () => await this.UpdateSearch.Invoke());
        }

        if (this.Selected.Count == 0)
            this.CurrentView = "Available";

        await InvokeAsync(() =>
        {
            this.StateHasChanged();
        });
    }

    private void ToggleView()
    {
        if (this.CurrentView == "Available")
        {
            this.CurrentView = "Selected";
        }
        else if (this.CurrentView == "Selected")
        {
            this.CurrentView = "Available";
        }
    }

    private void DisplayClearAllModal()
    {
        var parameters = new ModalParameters();
        
        if (this.ClearAllMethod != null)
        {
            parameters.Add("ClearAllSubMethod", ClearAllMethod);
        }

        var options = new ModalOptions { Class = "modal-custom" };

        Modal.Show<ClearAllModal>("Clear All", parameters, options);
    }
}