@using WayfinderProject.Components.Common
@using WayfinderProject.Data
@using WayfinderProject.Data.Models
@using WayfinderProjectAPI.Data.DTOs

@inject BrowserService BrowserService


<td style="vertical-align: middle;">
    @if (MainTable.CurrentExpandedRow == Scene.Id)
    {
        <div class="clickable" style="border-radius: 100px; background-color: #f4f5fd; border: solid 2px #5499fc; width: 30px; height: 30px; padding: 2px 6px 15px 15px;" @onclick="@(() => MainTable.UpdateExpandedRow(Scene.Id))">
            <span class="oi oi-minus mr-1 clickable" style="color: #5499fc; font-size: small;"></span>
        </div>
    }
    else
    {
        <div class="clickable" style="border-radius: 100px; background-color: #f4f5fd; border: solid 2px #5499fc; width: 30px; height: 30px; padding: 2px 6px 15px 15px;" @onclick="@(() => MainTable.UpdateExpandedRow(Scene.Id))">
            <span class="oi oi-plus mr-1 clickable" style="color: #5499fc; font-size: small;"></span>
        </div>
    }
</td>
<td style="vertical-align: middle;">
    <span style="font-weight: 600;">@Scene.Game.Name</span>
</td>
<td style="vertical-align: middle;">
    <a style="font-weight: 600; color: #1a00ff;" href="@Scene.Link" target="_blank">@Scene.Name</a>
</td>
<td style="vertical-align: middle;">
    @if (Scene.Worlds.Count > 2)
    {
        <div style="margin-left: -5px; height: 38px;">
            <Tooltip Text="@(string.Join(", ", Scene.Worlds.Select(x => x.Name)))">
                <div class="world-display">
                    Multiple <iconify-icon icon="bi:caret-down-fill" style="margin-left: 7px; margin-bottom: -4px;"></iconify-icon>
                </div>
            </Tooltip>
        </div>
    }
    else
    {
        if (Scene.Worlds.Count > 0 && Scene.Worlds.First().Name != ":None:")
        {
            <div style="display: inline-flex" class="@(Scene.Worlds.Count == 2 ? "world-display" : "")">
                @for (int i = 0; i < Scene.Worlds.Count; ++i)
                {
                    <span class="world-color">@Scene.Worlds.ToList()[i].Name</span>
                    if (i < Scene.Worlds.Count - 1)
                    {
                        <div>,&nbsp;</div>
                    }
                }
            </div>
        }
    }
</td>
<td style="vertical-align: middle;">
    @if (Scene.Areas.Count > 2)
    {
        <div style="margin-left: -5px; height: 38px;">
            <Tooltip Text="@(string.Join(", ", Scene.Areas.Select(x => x.Name)))">
                <div class="area-display">
                    Multiple <iconify-icon icon="bi:caret-down-fill" style="margin-left: 7px; margin-bottom: -4px;"></iconify-icon>
                </div>
            </Tooltip>
        </div>
    }
    else
    {
        if (Scene.Areas.Count > 0 && Scene.Areas.First().Name != ":None:")
        {
            <div style="display: inline-flex" class="@(Scene.Areas.Count == 2 ? "area-display" : "")">
                @for (int i = 0; i < Scene.Areas.Count; ++i)
                {
                    <span class="area-color">@Scene.Areas.ToList()[i].Name</span>
                    if (i < Scene.Areas.Count - 1)
                    {
                        <div>,&nbsp;</div>
                    }
                }
            </div>
        }
    }
</td>
<td style="vertical-align: middle;">
    @if (Scene.Characters.Count > 2)
    {
        <div style="margin-left: -5px; height: 38px;">
            <Tooltip Text="@(string.Join(", ", Scene.Characters.Select(x => x.Name)))">
                <div class="character-display">
                    Multiple <iconify-icon icon="bi:caret-down-fill" style="margin-left: 7px; margin-bottom: -4px;"></iconify-icon>
                </div>
            </Tooltip>
        </div>
    }
    else
    {
        if (Scene.Characters.Count > 0 && Scene.Characters.First().Name != ":None:")
        {
            <div style="display: inline-flex" class="@(Scene.Characters.Count == 2 ? "character-display" : "")">
                @for (int i = 0; i < Scene.Characters.Count; ++i)
                {
                    <span class="character-color">@Scene.Characters.ToList()[i].Name</span>
                    if (i < Scene.Characters.Count - 1)
                    {
                        <div>,&nbsp;</div>
                    }
                }
            </div>
        }
    }
</td>
<td style="vertical-align: middle;">
    @if (Scene.Music.Count > 2)
    {
        <div style="margin-left: -5px; height: 38px;">
            <Tooltip Text="@(string.Join(", ", Scene.Music.Select(x => x.Name)))">
                <div class="music-display">
                    Multiple <iconify-icon icon="bi:caret-down-fill" style="margin-left: 7px; margin-bottom: -4px;"></iconify-icon>
                </div>
            </Tooltip>
        </div>
    }
    else
    {
        if (Scene.Music.Count > 0 && Scene.Music.First().Name != ":None:")
        {
            <div style="display: inline-flex" class="@(Scene.Music.Count == 2 ? "music-display" : "")">
                @for (int i = 0; i < Scene.Music.Count; ++i)
                {
                    <a class="music-color" style="color: #1a00ff;" href="@Scene.Music.ToList()[i].Link" target="_blank">@Scene.Music.ToList()[i].Name</a>
                    if (i < Scene.Music.Count - 1)
                    {
                        <div>,&nbsp;</div>
                    }
                }
            </div>
        }
    }
</td>

<style>
.clickable {
    float: right;
    font-size: 1rem;
    color: #3e79a7;
    margin-top: 3px;
    cursor: pointer;
}
</style>

@code {
    [Parameter] public SceneDto Scene { get; set; }
    [Parameter] public Table<SceneDto> MainTable { get; set; }

    private BrowserDimension BrowserDimension { get; set; } = new BrowserDimension();

    protected override async Task OnParametersSetAsync()
    {
        //this.BrowserDimension = await BrowserService.GetDimensions();

        await base.OnParametersSetAsync();
    }
}
