@using WayfinderProject.Components.Common
@using WayfinderProject.Data
@using WayfinderProject.Data.Models
@using WayfinderProjectAPI.Data.DTOs


<td style="vertical-align: middle;">
    @if (MainTable.CurrentExpandedRow == JJCharacter.Id)
    {
        <div class="clickable" style="border-radius: 100px; background-color: #f4f5fd; border: solid 2px #5499fc; width: 30px; height: 30px; padding: 2px 6px 15px 15px;" @onclick="@(() => MainTable.UpdateExpandedRow(JJCharacter.Id))">
            <span class="oi oi-minus mr-1 clickable" style="color: #5499fc; font-size: small;"></span>
        </div>
    }
    else
    {
        <div class="clickable" style="border-radius: 100px; background-color: #f4f5fd; border: solid 2px #5499fc; width: 30px; height: 30px; padding: 2px 6px 15px 15px;" @onclick="@(() => MainTable.UpdateExpandedRow(JJCharacter.Id))">
            <span class="oi oi-plus mr-1 clickable" style="color: #5499fc; font-size: small;"></span>
        </div>
    }
</td>
<td style="vertical-align: middle;">
    <span style="font-weight: 600;">@JJCharacter.Game.Name</span>
</td>
<td style="vertical-align: middle;">
    <span style="font-weight: 600;">@JJCharacter.Title</span>
</td>
<td style="vertical-align: middle;">
    <span style="font-weight: 600;">@JJCharacter.Character.Name</span>
</td>

<style>
.clickable {
    float: right;
    font-size: 1rem;
    color: #3e79a7;
    margin-top: 3px;
    cursor: pointer;
}
</style>

@code {
    [Parameter] public JJCharacterDto JJCharacter { get; set; }
    [Parameter] public CharacterTable<JJCharacterDto> MainTable { get; set; }

    private BrowserDimension BrowserDimension { get; set; } = new BrowserDimension();

    protected override async Task OnParametersSetAsync()
    {
        //this.BrowserDimension = await BrowserService.GetDimensions();

        await base.OnParametersSetAsync();
    }
}
