@using WayfinderProjectAPI.Data.DTOs

@inject NavigationManager NavigationManager

<tr>
    <td colspan="12" style="background-color: #f1f1f1; border-radius: 50px; padding: 50px;">
        <div class="row">
            <div class="col-md-5">
                <div style="height: 563px; border-radius: 25px; background-color: #ffffff; padding: 25px;">
                    <div class="row" style="height: 281px;">
                        <div class="col-md-6">
                            <h3 class="character-color"><img src="/images/icons/characters.png" style="width: 25px; margin-right: 10px; margin-top: -3px;" /> Character Entry</h3>
                            <label>@(JJCharacter.Title)</label><br />
                        </div>

                        <div class="col-md-6">
                            <div id="share" class="share" @onclick="@(() => this.GenerateShareLink.Invoke())">
                                <span class="copyable">
                                    <i class="oi oi-file"></i>
                                    <label class="share-text"><b>Share Character Entry</b></label>
                                </span>
                            </div>
                        </div>

                        <br />

                        <div class="col-md-12" style="margin-top: 25px;">
                            <label>@(JJCharacter.Description)</label><br />
                        </div>

                        <br />

                        <div class="col-md-12" style="margin-top: 25px;">
                            <label>@(JJCharacter.AdditionalInformation)</label><br />
                        </div>

                        <br />

                        <div class="col-md-12" style="margin-top: 25px;">
                            <h3 class="scene-color">Memory Archive Scenes</h3><br />

                            <span style="margin-top: 10px;"></span>
                            <button class="wayfinder-button" onclick="@(() => NavigationManager.NavigateTo(this.memoryArchiveWithGameLink))" style="margin-right: 15px;">Scenes By Game</button>
                            <button class="wayfinder-button" onclick="@(() => NavigationManager.NavigateTo(this.memoryArchiveWithoutGameLink))">All Character Scenes</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-7">
                @if (this.firstAppearanceScene != null)
                {
                    <iframe width="100%" height="563px" src="@(this.firstAppearanceScene.Link.Replace("watch?v=", "embed/").Split("&list=")[0])" style="border-radius: 25px;"></iframe>
                }
                else
                {
                    <div style="width: 100%; height: 563px; border-radius: 25px; background-color: #ececec; text-align: center; vertical-align: middle;">
                        <label>No scene appearance found in the Memory Archive for this character in this game.</label>
                    </div>
                }
            </div>
        </div>
    </td>
</tr>


@code {
    [Parameter] public JJCharacterDto JJCharacter {get; set;}
    [Parameter] public WayfinderProjectAPI.Controllers.WayfinderController API { get; set; }

    [Parameter] public Func<Task> GenerateShareLink { get; set; }

    public string CurrentSubOption { get; set; } = "Details";

    private SceneDto firstAppearanceScene = new SceneDto();
    private string memoryArchiveWithoutGameLink = string.Empty;
    private string memoryArchiveWithGameLink = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        this.firstAppearanceScene = await this.API.GetCharacterFirstAppearance(JJCharacter.Character.Name, JJCharacter.Game.Name);
        this.memoryArchiveWithoutGameLink = $"{NavigationManager.BaseUri}memory_archive?characters={JJCharacter.Character.Id}&category=Scenes";
        this.memoryArchiveWithGameLink = $"{NavigationManager.BaseUri}memory_archive?games={JJCharacter.Game.Id}&characters={JJCharacter.Character.Id}&category=Scenes";

        await base.OnInitializedAsync();
    }

    public async Task UpdateCurrentSubOption(string option)
    {
        this.CurrentSubOption = option;

        await InvokeAsync(() =>
        {
            this.StateHasChanged();
        });
    }
}
